services:
  nginx:
    image: duringbug/rag-nginx:latest  # 使用自定义的 Nginx 镜像
    container_name: nginx01  # 容器名称
    ports:
      - "8888:80"  # 映射容器的 80 端口到本地的 8888 端口
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf  # 挂载本地 nginx 配置文件
    # environment
    # 必须在 nginx.conf 中设置后端实际的 host 和 port
    depends_on:
      - backend  # 确保 Nginx 服务在 backend 服务之后启动
    networks:
      custom_network:
        ipv4_address: 172.22.0.8

  backend:
    image: duringbug/rag-backend:latest  # 使用你刚构建的后端镜像
    container_name: backend01  # 后端容器名称
    ports:
      - "3333:3000"  # 映射后端服务端口
    environment:
      VITE_COHERE_API_KEY: "RImEdnMnrGLhTOvd16gINcbFut8NUOZR4toTzKH8"
      TIDB_HOST: "172.22.0.6"
      TIDB_PORT: "4000"
      TIDB_USERNAME: "root"
      TIDB_PASSWORD: ""  # 空密码
      TIDB_DATABASE: "test"
      BACKEND_HOST: "172.22.0.7"
      BACKEND_PORT: "3000"
    networks:
      custom_network:
        ipv4_address: 172.22.0.7

networks:
  custom_network:
    driver: bridge
    ipam:
      config:
        - subnet: "172.22.0.0/16"
