.content-blue {
    background-color: var(--bg-blue-color); /* 使用 --bg-color */
    color: var(--text-color); /* 使用 --text-color */
    transition: background-color 0.3s, color 0.3s; /* 添加过渡效果 */
}

.content-sky {
  background-color: var(--bg-sky-color); /* 使用 --bg-color */
  color: var(--text-color); /* 使用 --text-color */
  transition: background-color 0.3s, color 0.3s; /* 添加过渡效果 */
}